*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-family: "ubantu",sans-serif;
}

header .image{
    height: 50vh;
    width: 100%;
    background-image: url("images/down.jpg");
    /* background-attachment: fixed; */
    background-size: 100vw;
    background-repeat: no-repeat;
    /* position: relative; */
        
}
.content{
    /* position: absolute; */
    height: 50vh;
    width: 100%;
    background-color: rgba(16, 136, 192, 0.616);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.content p{
    padding: 2rem 10rem;
}
.btn{
    text-transform: uppercase;
    padding: .8rem 1.2rem;
    color: white;
    letter-spacing: .4rem;
    background-color: rgb(20, 221, 87);
    font-size: .7rem;
    font-weight: 600;
}
.image2{
    padding-top:3rem;
    padding-left:3rem;
    
}

img{
    border-radius: 50%;
}
.second-content{
    display:flex;
    
    flex-direction: column;
    align-content: center;
    padding-left:15rem;
    transform: translate(.3vw,-28vh);
}
.second-content p{
    padding-top:15px;
    text-align: justify;
    font-size: .8rem;
}
#btn{
    padding-left:15rem;
    transform: translate(.3vw,-27vh);
    
    

}
.btn1{
    text-transform: uppercase;
    padding: .5rem 1rem;
    color: white;
    background-color: rgb(20, 221, 87);
    font-size: .7rem;
    font-weight: 600;

}
.background{
    height:50vh;
    width:100%;
    background-color:rgb(20, 221, 87);
    transform:translate(.7vw,-20vh);
    display: flex;
    flex-direction: row-reverse;

}
.image-second{
    padding-top:3.5rem;
    padding-right:30px;
}
.third-content{
    display:flex;
    padding-top:35px;
    flex-direction: column;
    align-content: center;
    padding:3rem 0 0 4rem;
    color:white;
}
.third-content p{
    padding-top:15px;
    text-align: justify;
    font-size: .8rem;
    padding-right:2rem;
    word-spacing: .4rem;

}
#btn2{
    padding-top:20px;
}
#btn2 button{
    text-transform: uppercase;
    padding: .5rem 1rem;
    color: black;
    background-color: lightblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    word-spacing: .4rem;
    background-color: white;

}
.last-heading{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transform: translate(.3vw,-10vh);
}
.last-heading h3{
    padding-bottom:20px;
}
.image-container{
    display:flex;
}
.image3{
    justify-content: space-around;
    padding-left:7rem;
}
.image3 p{
    padding-right:30px;
    text-align: justify;
}
.last-btn{
    padding-left:4.8rem;
    padding-top:2rem;
}
.image3 img{
    transform: translate(3vw,-5vh);
}
.btn2{
    text-transform: uppercase;
    padding: .5rem 1rem;
    color: white;
    background-color: skyblue;
    font-size: .7rem;
    font-weight: 600;
    word-spacing: .4rem;
    background-color: rgb(20, 221, 87);
}